title = Third Party
template = testcase
description = Check that a filter using the $third-party filter option is working as expected.

<section class="testcase-panel">
  <h2>Block Third Party</h2>
  <p>Test that a filter using the $third-party filter option works a third party resource.</p>
  <div class="testcase-area">
    <img style="padding: 0.5rem; background-color: #c70d2c; width: 166px; height: 166px;" src="https://gitlab.com/eyeo/adblockplus/testpages.adblockplus.org/-/raw/master/static/testfiles/third-party/adblockplus-icon-colour-web.svg" data-expectedresult="fail"/>
    <img style="padding: 0.5rem; background-color: #0dc74b; width: 166px; height: 166px;" src="/testfiles/third-party/adblockplus-icon-colour-web.svg" class="testcase-expected-view"/>
    <img style="padding: 0.5rem; background-color: #0dc74b; width: 166px; height: 166px;" src="/testfiles/third-party/adblockplus-icon-colour-web.svg" data-expectedresult="pass"/>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red logo should be blocked and the space collapsed.</li>
    <li>The green logo containing should not be blocked.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>adblockplus-icon-colour-web.svg$third-party</pre></li>
  </ul>
</section>

<section class="testcase-panel">
  <h2>Block First Party</h2>
  <p>Test that a filter using the inverse $third-party filter option works a first party resource.</p>
  <div class="testcase-area">
    <img style="padding: 0.5rem; color: #fff; background-color: #c70d2c;" src="/testfiles/third-party/abb-logo.png" data-expectedresult="fail"/>
    <img style="padding: 0.5rem; background-color: #0dc74b;" src="https://gitlab.com/eyeo/adblockplus/testpages.adblockplus.org/-/raw/master/static/testfiles/third-party/abb-logo.png" class="testcase-expected-view"/>
    <img style="padding: 0.5rem; background-color: #0dc74b;" src="https://gitlab.com/eyeo/adblockplus/testpages.adblockplus.org/-/raw/master/static/testfiles/third-party/abb-logo.png" data-expectedresult="pass"/>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red logo should be blocked and the space collapsed.</li>
    <li>The green logo containing should not be blocked.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>abb-logo.png$~third-party</pre></li>
  </ul>
</section>
