template = testcase
title = CSP Exception
description = Check that usage of the $csp filter option in an exception is working as expected.

<section class="testcase-panel">
  <h2>Exception Usage</h2>
  <p>Test that the $csp filter option in an exception works.</p>
  <div class="testcase-area">
    <div id="unblock-javascript" data-expectedresult="pass"></div>
    <div class="testcase-expected-view"><img src="/images/expected.png"></div>
    <div class="testcase-examplecontent">Example Content</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The green image containing the white square should be blocked.</li>
    <li>Add filter #2.</li>
    <li>The the green image containing the white square should become unblocked.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>||{{ site_url|strip_proto }}^$csp=script-src {{ site_url }}/lib/utils.js</pre></li>
    <li><pre>@@||{{ site_url|strip_proto }}^$csp</pre></li>
  </ul>
</section>

<script>
  "use strict";

  let image = document.createElement("img");
  image.src = "/testfiles/csp_exception/image.png";
  document.getElementById("unblock-javascript").appendChild(image);
</script>
