template = testcase
title = Stylesheet Exception
description = Check that usage of the $stylesheet filter option in an exception is working as expected.

<link rel="stylesheet" href="/testfiles/stylesheet_exception/stylesheet.css">

<section class="testcase-panel">
  <h2>Exception usage</h2>
  <p>Test that the $stylesheet filter option in an exception works.</p>
  <div class="testcase-area">
    <img src="/testfiles/stylesheet_exception/image.png" data-expectedresult="fail">
    <div class="testcase-examplecontent">Example Content</div>
    <div class="testcase-expected-view">This should be a green element.</div>
    <div id="exception-target" data-expectedresult="fail">This should be a green element.</div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filters #1 and #2.</li>
    <li>Refresh page.</li>
    <li>The red image should be blocked and the stylesheet should not be blocked, providing a green background to the element above.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>||{{ site_url|strip_proto }}/testfiles/stylesheet_exception/*</pre></li>
    <li><pre>@@{{ site_url|strip_proto }}/testfiles/stylesheet_exception/$stylesheet</pre></li>
  </ul>
</section>
