template = testcase
title = hide-if-shadow-contains
description = Check that the hide-if-shadow-contains snippet is working as expected.

<section class="testcase-panel">
  <h2>Basic usage</h2>
  <p>Test that basic usage of the snippet works as expected.</p>
  <div id="basic-target" class="testcase-area">
    <div class="testcase-examplecontent">Example Content</div>
    <p data-expectedresult="fail"></p>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red element inside in the test case above should be hidden.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#hide-if-shadow-contains 'hisc-basic' p</pre></li>
  </ul>
  <h3>Notes</h3>
  <p>Not supported in Chrome 52 (requires 53+)</p>
  <p>Not supported in Firefox 58 (requires 63+ or 59+ with flag dom.webcomponents.shadowdom.enabled)</p>
  <p>Not supported in Opera 39 (requires 40+)</p>
  <p>Not supported in Edge (EdgeHTML)</p>
</section>

<script>
  "use strict";

  setTimeout(() =>
  {
    let root = document.getElementById("basic-target");
    let failElement = document.createElement("div");
    failElement.id = "hisc-basic-id";
    failElement.setAttribute("data-expectedresult", "fail");
    failElement.innerHTML = "<div><span>hisc-basic<br>Failed. Element is not hidden.</span></div>";
    let shadowRoot = root.lastElementChild.attachShadow({mode: "closed"});
    shadowRoot.appendChild(failElement);
  }, 500);
</script>

<section class="testcase-panel">
  <h2>Regex usage</h2>
  <p>Test that usage of the snippet with regex works as expected.</p>
  <div id="regex-target" class="testcase-area">
    <div class="testcase-examplecontent">Example Content</div>
    <div class="testcase-waiting-content">Waiting 500ms to trigger snippet...</div>
    <div class="testcase-expected-view"><span>hisc-regex3<br>This element should not be hidden.</span></div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The red elements inside in the test case above should be hidden and the green one not hidden.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#hide-if-shadow-contains '/hisc-regex[1-2]/' div</pre></li>
  </ul>
  <h3>Notes</h3>
  <p>Not supported in Chrome 52 (requires 53+)</p>
  <p>Not supported in Firefox 58 (requires 63+ or 59+ with flag dom.webcomponents.shadowdom.enabled)</p>
  <p>Not supported in Opera 39 (requires 40+)</p>
  <p>Not supported in Edge (EdgeHTML)</p>
</section>

<script>
  "use strict";

  setTimeout(() =>
  {
    removeWaitingContent(); // eslint-disable-line no-undef

    let root = document.getElementById("regex-target");
    for (let expectedResult of ["pass", "fail", "fail"])
    {
      let rootChild = document.createElement("div");
      rootChild.setAttribute("data-expectedresult", expectedResult);
      root.appendChild(rootChild);
    }

    let target = document.createElement("div");
    target.id = "hisc-regex-id1";
    target.setAttribute("data-expectedresult", "fail");
    target.innerHTML = "<div><span>hisc-regex1<br>Failed. Element is not hidden.</span></div>";
    let shadowRoot = root.lastElementChild.attachShadow({mode: "closed"});
    shadowRoot.appendChild(target);

    let target2 = document.createElement("div");
    target2.id = "hisc-regex-id2";
    target2.setAttribute("data-expectedresult", "fail");
    target2.innerHTML = "<div><span>hisc-regex2<br>Failed. Element is not hidden.</span></div>";
    let shadowRoot2 = root.lastElementChild.previousElementSibling.attachShadow({mode: "closed"});
    shadowRoot2.appendChild(target2);

    let target3 = document.createElement("div");
    target3.id = "hisc-basic-id3";
    target3.setAttribute("data-expectedresult", "pass");
    target3.innerHTML = "<div><span>hisc-regex3<br>This element should not be hidden.</span></div>";
    let shadowRoot3 = root.lastElementChild.previousElementSibling.previousElementSibling.attachShadow({mode: "closed"});
    shadowRoot3.appendChild(target3);
  }, 500);
</script>
