template = testcase
title = hide-if-labelled-by
description = Check that the hide-if-labelled-by snippet is working as expected.

<section class="testcase-panel">
  <h2>Basic usage</h2>
  <p>Test that basic usage of the snippet works as expected.</p>
  <div class="testcase-area">
    <div class="testcase-examplecontent">Example Content</div>
    <div class="testcase-expected-view">Label</div>
    <div id="hilb-label" data-expectedresult="pass">Label</div>
    <div id="hilb-target" data-expectedresult="fail">
      <div aria-labelledby="hilb-label">Label content</div>
    </div>
  </div>
  <h3>Steps</h3>
  <ul class="testcase-steps">
    <li>Add filter #1.</li>
    <li>Refresh page.</li>
    <li>The green Label area should be visible, and the red Label Content area should be blocked.</li>
  </ul>
  <h3>Filters</h3>
  <ul class="testcase-filters">
    <li><pre>{{ site_url|domain }}#$#hide-if-labelled-by 'Label' '#hilb-target [aria-labelledby]' '#hilb-target'</pre></li>
  </ul>
</section>
